*.pyc
*.pyo
*.log
*.out
*.bak
*.tmp
*.gz
*.tar
*.zip
*~
*.swp
.DS_Store
core.*
output/
_bak/
build/
piglab.egg-info/
log/
log
tmp
output
__pycache__
._*
.vscode
.idea/
webservice/piglab/upload/
webservice/piglab/static/
book/
machinelearning/models/*
machinelearning/image/classification/data/cifar-10-batches-py/
machinelearning/image/classification/data/train/
machinelearning/image/classification/data/test/
machinelearning/image/dog_cat/data/kaggle_infer/
machinelearning/image/face/data/face/tmp/
machinelearning/image/face/data/tmp/
machinelearning/image/face/model/facenet/20180402-114759
machinelearning/video/clear_video_ad/data/tmp/
machinelearning/video/clear_video_ad/data/test/
machinelearning/video/clear_video_ad/data/train/
machinelearning/video/clear_video_ad/data/photo/
machinelearning/video/clear_video_ad/data/video/*cut*
machinelearning/video/clear_video_ad/data/video/*.mp3
